body {
    background-color: rgb(24, 22, 22);
    color: blanchedalmond;
}
header {
    text-align: center;
    border-bottom: 1px solid white;
}
a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

footer {
    text-align: center;
    border-top: 1px solid white;
    margin-top: 40px;
}


h1 {
    font-family: "Courier New";
}
img {
    width: 100%;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
section {
    display: flex;
}
div {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
.d1 {
    text-align: center;
    border: 2px solid rosybrown;
    border-radius: 10px;

}
.d2{
    text-align: center;
    border: 2px solid rosybrown;
    border-radius: 10px;

}
.d3 {
    text-align: center;
    border: 2px solid rosybrown;
    border-radius: 10px;

}

.c1 {
    text-align: center;
    font-family: "Courier New";
}
